@import '../../../../stylesheets/generics/includables';

.wrapper {
    background-color: $c-light;
    padding: $headerVerticalPadding $headerHorizontalPadding;
    height: calc(100% - #{$headerHorizontalPadding});
    width: calc(100% - #{$headerVerticalPadding});
    display: flex;
    flex-direction: row;

    img {
        height: 100%;
        width: auto;
    }



    .navigation {
        flex-grow: 1;
        height: 100%;
        list-style: none;
        margin: 0;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: flex-end;
        padding-right: 20px;

        li {
            display: flex;
            -webkit-flex-flow: row wrap;
            justify-content: center;
            height: 100%;

            a {
                text-decoration: none;
                display: block;
                padding-right: 15px;
                padding-left: 15px;
                margin: auto;
                color: map-get($taw-accent, 800);
                border-bottom: 1px solid transparent;

                &:hover,
                &.active {
                    color: map-get($taw-base, 700);
                    border-bottom: 1px solid map-get($taw-base, 700);
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
