<div class="wrapper">
  <div class="logo">
  </div>
  <mat-card>
    <mat-card-header>
      <h3>How to get in touch with us:</h3>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p class="align-center">
          <span>E-Mail: </span>
          <a target="_blank"
             href="mailto:contact@example.com">contact@example.com</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
