<mat-card style="width: 80%; margin: auto;">
  <mat-card-header>
    <h1>TAW</h1>
  </mat-card-header>
  <div class="align-justify" style="width: 80%; margin: auto;">
    <p>
      A lightweight boilerplate to get started with TypeScript, Angular7 and Webpack<br>
      This Boilerplate ships with appversion by default. It is configured in such a way,
      that every rebuild increments the build counter for the current version. To bump
      a version read below at <em>Commands</em>.<br>
      This also ships with default pages for index, contact and not-found (404)<br>
      If you choose not to use appversion, just delete prebuild/, gulpfile.js and the respecting
      scripts in the package.json<br>
      The package.json-file and appversion.json-file are accessible through services
      inside your app. Take a look at the footer.component for and example.<br>
      <br>
      Angular Material is available, all used modules can and should be im-/exported via the
      src/app/modules/angular-material module.<br>
      <br>
      This boilerplate supports AOT and Lazy Loading out of the box, just put everything in modules :)<br>
      <br>
      Karma test are available but just in a very basic form.<br>
    </p>
    <br>
    <p>Happy coding.</p>
  </div>
  <br>


  <div class="align-justify" style="width: 80%; margin: auto;">
    <h3>Setup</h3>
    <h5>Prerequisites</h5>
    <ul>
      <li>node.js</li>
      <li>npm</li>
      <li>gulp</li>
      <li>angular/cli@^6.1.4</li>
      <li>appversion@^1.7.1</li>
    </ul>
    <p><em>Of course these have to be installed globally</em></p>
  </div>
  <br>


  <div class="align-justify" style="width: 80%; margin: auto;">
    <h4>Installing</h4>
    <ul>
      <li>Get the Repository: <code>git clone git@bitbucket.org:NineSunDev/taw-base.git</code></li>
      <li>Run <code>npm i</code> to install it</li>
      <li>Run <code>npm start</code> to serve it with watching your sources</li>
    </ul>
  </div>
  <br>


  <div class="align-justify" style="width: 80%; margin: auto;">
    <h4>Recommended Folder-Structure</h4>
    <pre>
    <code>
        /
        |_ node_modules/
        |_ src/
        .|_ app/
        ..|_ angular-material/
        ...|_ angular-material.module
        ..|_ bootstrap/
        ...|_ bootstrap.module
        ...|_ components/
        ....|_ app
        .....|_ app.component.html
        .....|_ app.component.scss
        .....|_ app.component.ts
        .....|_ app.component.spec.ts
        ....|_ ...
        ..|_ routing/
        ...|_ routing.module
        ..|_ shared/
        ...|_ shared.module
        ...|_ ...
        ..|_ pages-index/
        ...|_ pages-index.module
        ...|_ ...
        .|_ assets/
        .|_ environments/
        .|_ prebuild/
        .|_ stylesheets/
        .|_ index.html/
        .|_ main.js/
        .|_ test.js/
        .|_ tsconfig.app.json/
        .|_ tsconfig.spec.json/
        .|_ typings.d.ts/
        |_ angular.json
        |_ appversion.json
        |_ karma.conf.js
        |_ package.json
        |_ package-lock.json
        |_ README.md
        |_ tsconfig.json
        |_ tslint.json
    </code>
  </pre>
  </div>
  <br>


  <div class="align-justify" style="width: 80%; margin: auto;">
    <h3>Commands</h3>
    <ul>
      <li>
        <p>Production Build: <code>npm build</code></p>
      </li>
      <li>
        <p>Serve: <code>npm start</code></p>
      </li>
      <li>
        <p>Testing: <code>npm test</code></p>
      </li>
      <li>
        <p>Increment Major Version: <code>npm run major</code></p>
      </li>
      <li>
        <p>Increment Minor Version: <code>npm run minor</code></p>
      </li>
      <li>
        <p>Increment Patch Version: <code>npm run patch</code></p>
      </li>
      <li>
        <p>Code Generation:</p>
        <ul>
          <li>Modules: <code>ng g m modules/#module-name#</code></li>
          <li>Components: <code>ng g c components/#component-name#</code></li>
          <li>Pages: <code>ng g c pages/#page-name#</code></li>
          <li>Services: <code>ng g s services/#service-name#</code></li>
          <li>Directives: <code>ng g d directives/#directive-name#</code></li>
          <li>Pipes: <code>ng g p pipes/#pipe-name#</code></li>
          <li>…</li>
        </ul>
      </li>
    </ul>
  </div>
  <br>


  <div class="align-justify" style="width: 80%; margin: auto;">
    <h3>Owner</h3>
    <ul>
      <li><a href="mailto:nico.saenger@gmail.com">Nico Sänger</a> (Nico Sänger)</li>
    </ul>
  </div>
  <br>


  <div class="align-justify" style="width: 80%; margin: auto;">
    <h3>License</h3>
    <p>
      <a href="http://creativecommons.org/licenses/by/4.0/">
        <img src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="cc-by">
      </a>
    </p>
  </div>
</mat-card>
