<div class="wrapper">

  <div class="align-center">
    <a routerLink="contact" class="light block">
      Contact
    </a>
  </div>

  <div class="copyright align-center">
    v{{version.version.major}}.{{version.version.minor}}.{{version.version.patch}}<br>
    Copyright 2018 @ {{package.name}} GmbH
  </div>

</div>
