@import '../../../../stylesheets/generics/includables';

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: map-get($taw-base, 100);
}

header {
    height: calc(2 * #{$headerHeight});
    width: $headerWidth;
    transition: .5s;
    box-shadow: 0 0 25px map-get($taw-accent, 500);

    &.shrink {
        height: $headerInnerHeight;
    }

    &.hidden {
        height: 0 !important;
        opacity: 0;
    }
}

.content-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .content {
        flex-grow: 1;
    }

    footer {
        height: $footerInnerHeight !important;
        flex-basis: $footerHeight !important;
        width: $footerInnerWidth;
        padding: $footerVerticalPadding $footerHorizontalPadding;
        background-color: map-get($taw-accent, 900);

        &.hidden {
            height: 0 !important;
            opacity: 0;
        }
    }
}
