<div class="wrapper">
  <header [ngClass]="{'shrink': shrinkHeader, 'hidden': !pageState.displayHeader}"></header>
  <div class="content-wrapper"
       (scroll)="onScroll($event)">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer [ngClass]="{'hidden': !pageState.displayFooter}"></footer>
  </div>
</div>
